- username = @chatd.user.username
.account-box(aria="Account" role="region")
  .user
    .photo
      %img(src="#{avatar_url username}")
    .info
      %a.collapsed(data-toggle="collapse" href="#profileCollapse")
        - if @chatd.user.username do
          %span(data-status="#{@chatd.status}")
            %i.material-icons fiber_manual_record
          = username
        %b.caret
      .collapse#profileCollapse
        %ul.nav
          %li
            %a(href="#" data-status="online")
              %i.material-icons(style="color: #4caf50;;") fiber_manual_record
              %p Online
          %li
            %a(href="#" data-status="away")
              %i.material-icons(style="color: #ff9800;") fiber_manual_record
              %p Away
          %li
            %a(href="#" data-status="busy")
              %i.material-icons(style="color: #f44336;") fiber_manual_record
              %p Busy
          %li
            %a(href="#" data-status="offline")
              %i.material-icons(style="color: #999;") fiber_manual_record
              %p Offline

          %li
            %a(href="#")
              %i.material-icons tune
              %p My Profile

          - for menu <- get_registered_menus(@chatd.user) do
            %a(href="#")
              %i(class="#{menu[:icon]}")
              %p= menu[:name]

          - if show_admin_option(@chatd.user) do
            %li
              %a#admin.account-link(href="#")
                %i.icon-wrench
                %p Administration
          %li
            %a(href="")
              %i.material-icons exit_to_app
              %p Logout
