%ul.nav
  %li{class: "add-room background-transparent-darker-hover#{is_active(@rooms)}"}
    %a.heading
      %p
        CHANNELS
        %span.room-count-small= "(#{length @rooms})"
  - if @rooms != [] do
    - for room <- @rooms do
      = render "chat_room_item.html", room: room
  - else
    %li
      %p.empty= ~g(No channels yet)

  %li
    %a.more.more-channels.background-transparent-darker-hover
      %p= ~g(More channels...)
