- username = username @chatd
.sidebar(data-active-color="green" data-color="green" data-background-color="black" data-image="/images/sidebar-1.jpg")
  .sidebar-wrapper
    = render "account_box.html", chatd: @chatd
    - if Coherence.current_user(@conn) do
      .unread-rooms.background-primary-action-color.color-primary-action-contrast.top-unread-rooms.hidden
        = ~g(More unreads)
        %i.icon-up-big
      .rooms-list(role="region" area-label="Channels")
        = render "rooms_list.html", chatd: @chatd
      .unread-rooms.background-primary-action-color.color-primary-action-contrast.bottom-unread-rooms.hidden
        = ~g(More unreads)
        %i.icon-down-big
      .flex-nav.primary-background-color.animated-hidden(style="display: none;")
        %section
          = render "create_combined_flex.html"
          = #render @side_nav[:flex_template], conn: @conn, flex_data: @side_nav[:flex_data]
      %span.arrow.bottom
    %footer.footer
      =# render "footer.html"
