= render "favorite_icon.html", favorite: favorite_room?(@chatd), show: show_toggle_favorite(@chatd)
- if get_room_icon(@chatd) == "icon-at" do
  %i(class="#{get_room_icon(@chatd)} status-#{get_room_status(@chatd)}" data-status-name="#{@chatd.active_room[:display_name]}")
  - if UccChat.phone_status? do
    = phone_status_icon_tag @chatd.active_room[:phone_status], @chatd.active_room[:display_name]
- else
  %i(class="#{get_room_icon(@chatd)} status-offline")
%span.room-title= @chatd.active_room[:display_name]
%span.room-topic(rebel-click="topic_click")= markdown @chatd.channel.topic
